<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Ervaring</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Ruby on Rails developer</h3>
                            <div class="time">Januari 2016 - Juni 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Zisoo, Hoofddorp</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
                          Ruby on Rails developer het ontwikkelen en/of onderhouden van verscheidenen RoR websites/webshops.
                        </p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
